<div class="dashboard-header" data-controller="title">
  <%= link_to "<i class='fa-solid fa-arrow-left'></i>".html_safe, root_path %>
  <div class="dashboard-text"></div>
</div>
<div class="container dashboard-main-container">
  <div class="dashboard-left-side">
    <div class="dashboard-profile">
      <%= cl_image_tag @user.photo.key %>
      <div class="dashboard-profile-info">
        <div class="dashboard-profile-info-left-block">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p>Joined <%= @user.created_at.strftime("%a, %b %d") %></p>
        </div>
        <%= link_to edit_user_registration_path(current_user) do %>
          <p><i class='fa-solid fa-pen'></i></p>
        <% end %>
      </div>
    </div>
    <div class="dashboard-orbits">
      <div class="dashboard-orbit-header">
        <h4>Notifications</h4>
        <i class="fa-solid fa-circle"></i>
        <h5>3</h5>
      </div>
      <div class="dashboard-orbits-body">
        <div id="circle-orbit-container">
          <div class="middle-orbit-cirlces-4">
            <%= cl_image_tag @user.photo.key %>
          </div>
          <!-- Circles second closest to the central point -->
          <div id="middle-orbit">
            <div class="middle-orbit-cirlces"><%= cl_image_tag "56_f5yewa" %><%= image_tag "MsgLrgLS.svg", class:"chatbox-svg" %><p class="chatbox-message">Hang?</p></div>
            <div class="middle-orbit-cirlces-2"><%= cl_image_tag "38_rw7kqv" %><%= image_tag "MsgLrgLS.svg", class:"chatbox-svg" %><p class="chatbox-message">Yeah!</p></div>
            <div class="middle-orbit-cirlces-3"><%= cl_image_tag "50_awwtoo" %><%= image_tag "MsgSmlLS.svg", class:"chatbox-svg" %><p class="chatbox-message-3">🙌</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-middle">
    <div class="dashboard-achivements">
      <h4 style="margin: 0px">Achivements (2)</h4>
      <div class="dashboard-achivements-body">
        <div class="achivements-info-card">
          <p><i class="fa-solid fa-beer-mug-empty"></i></p>
          <div class="achivements-info-text">
            <h6>Keg Meister!</h6>
            <p>Downed 15 beers!</p>
          </div>
        </div>
        <div class="achivements-info-card">
          <p><i class="fa-solid fa-crown"></i></p>
          <div class="achivements-info-text">
            <h6>Party KING!</h6>
            <p>4 all-nighters!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-splitty">
      <h4>Splitty</h4>
      <p>Menno we waiting for the splitty...</p>
    </div>
  </div>
  <div class="dashboard-right-side">
    <div class="dashboard-discover-events">
      <h4>Discover</h4>
      <div class="dashboard-discover-carousel">
        <section class="splide splide-content" aria-label="Splide Basic HTML Example" data-controller="slider">
          <div class="splide__track">
            <ul class="splide__list">
              <% @all_events.each do |event| %>
                <li class="splide__slide"><%= cl_image_tag event.photos[0].key %></li>
              <% end %>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <div class="dashboard-right-top">
      <div class="dashboard-next-event">
        <h4>Next Event</h4>
        <% if @next_event != nil %>
          <%= link_to event_path(@next_event) do %>
            <div class="dashboard-next-event-info">
              <p style="margin-top: 5px"><strong><%= @next_event.title %></strong></p>
              <p><%= @next_event.start_date.strftime("%a, %b %d") %></p>
            </div>
          <% end %>
        <% else %>
          <div class="dashboard-next-event-info">
            <p>No upcoming events...</p>
          </div>
        <% end %>
      </div>
      <div class="dashboard-circles">
        <h4><i class="fa-solid fa-map-pin"></i> Pinned</h4>
        <%= link_to circle_path(@circle) do %>
          <div class="dashboard-circles-info">
            <p><%= cl_image_tag @circles.first.photo.key %></p>
            <p><%= @circles.first.name %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="dashboard-invitations">
      <h4>Invitation</h4>
      <div class="dashboard-invitations-section">
        <% 4.times do %>
          <div class="dashboard-invitations-info">
            <p><%= User.all.sample.first_name %> invited you to <strong><%= link_to "#{Event.all.sample.title}", event_path(Event.all.last)  %></strong></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>