<div class="cards-event">
  <% @events.each do |event| %>
    <%= link_to event_path(event) do %>
      <% if event.photos.attached? %>
    <div class="event-card">
      <div class="title-container">
        <p><%= event.title.upcase %></p>
      </div>
      <div class="image-icon-container" style="background-image: linear-gradient(to bottom, black, black 5%, transparent, transparent 95%), url(<%=cl_image_path event.photos.first.key %>);">
        <div class="icons">
          <div class="attending">
            <i class="fa-solid fa-user-group"></i>
            <p><%= event.users.count %></p>
          </div>
            <% if event.private  %>
              <i class="fa-solid fa-circle"> </i>
            <% else %>
              <i class="fa-regular fa-circle"></i>
            <% end %>
            <p><%= event.start_date.strftime("%m/%d") %></p>
        </div>
      </div>
    </div>
        <% else %>
        <div class="event-card">
          <div class="image-icon-container" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)), url(<%=cl_image_path "hk6soz418q50zk89hkppwut8mp97" %>)">
            <div class="icons">
                <i class="fa-solid fa-user-group"></i>
              <% if event.private  %>
                <i class="fa-solid fa-circle"> </i>
              <% else %>
                <i class="fa-regular fa-circle"></i>
              <% end %>
            <p><%= event.start_date.strftime("%m/%d") %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
        </div>
</div>
