<div class="dashboard-header" data-controller="newevent">
  <%= link_to "<i class='fa-solid fa-arrow-left'></i>".html_safe, root_path %>
  <div class="newevent-text"></div>
    <%= image_tag "Logo/Circles_Logo.svg", width: "190", class:"white-color logo" %>
</div>
<div class="container-form">
  <h2>CREATE A NEW EVENT</h2>
  <%= simple_form_for @event do |f| %>
    <%= f.input :title %>
    <%= f.input :location %>
    <%= f.input :private, as: :radio_buttons, collection: [['Yes',true], ['No',false]], required: true %>
    <%= f.input :photos, as: :file , input_html: { multiple: true } %>
    <%= f.input :start_date, as: :string, input_html: {data: { controller: "flatpicker"}} %>
    <%= f.input :end_date, as: :string, input_html: {data: { controller: "flatpicker"}} %>
    <%= f.association :circles, collection: current_user.circles.each {|circle| circle.name}, input_html: { class: 'multiselectuser'} %>
    <%= f.submit %>
  <% end %>
</div>

<%# hdcudhs %>
