<div class="dashboard-header" data-controller="newevent">
  <%= link_to "<i class='fa-solid fa-arrow-left'></i>".html_safe, root_path %>
  <div class="newevent-text"></div>
    <%= image_tag "Logo/Circles_Logo.svg", width: "190", class:"white-color" %>
</div>

<%# Capital cities only! %>
<% city_array = %w[Abu Dhabi Abuja Accra Addis Ababa Algiers Amman Amsterdam Andorra la Vella Ankara
Antananarivo Apia Ashgaba Asmara Astana Asunción Athens Baghdad Baku Bamako Bandar-Seri-Begawan Bangkok
Bangui Banjul Basseterre Beijing Beirut Belgrade Belmopan Berlin Bern Bishkek Bissau Bloemfontein Bogotá
Brasilia Bratislava Brazzaville Bridgetown Brussels Bucharest Budapest Buenos Aires Cairo Canberra
Cape-Town Caracas Castries Chisinau Conakry Copenhagen Dakar Damascus Dhaka Dili Djibouti Dodoma Doha
Dublin Dushanbe Freetown Funafuti Gaborone Georgetown Gitega Guatemala-City Hanoi Harare Havana Helsinki
Honiara Islamabad Jakarta Jerusalem Jerusalem (East) Juba Kabul Kampala Kathmandu Khartoum Kigali Kingston
Kingstown Kinshasa Kuala Lumpur Kuwait City Kyiv (also known as Kiev) La Paz  Libreville Lilongwe Lima
Lisbon Ljubljana Lobamba Lomé London Luanda Lusaka Luxembourg  Madrid Majuro Malabo Male Managua Manama
Manila Maputo Maseru Mbabane Mexico City Minsk Mogadishu Monaco Monrovia Montevideo Moroni Moscow Muscat
Nairobi Nassau Naypyidaw N'Djamena New Delhi Ngerulmud Niamey Nicosia Nouakchott Nukuʻalofa Oslo Ottawa
Ouagadougou Oyala Palikir Panama-City Paramaribo Paris Phnom-Penh Podgorica Port-Louis Port-Moresby
Port-of-Spain Port-Vila Port-au-Prince Porto-Novo Prague Praia Pretoria Pristina Pyongyang Quito Rabat
Reykjavik Riga Riyadh Rome Roseau Saint George's Saint-John's San-Jose San-Marino San-Salvador Sana'a
Santiago Santo Domingo São Tomé Sarajevo Seoul Singapore Skopje Sofia Sri Jayawardenepura Kotte Stockholm
Sucre  Suva Taipei Tallinn Tarawa Tashkent Tbilisi Tegucigalpa Tehran Thimphu Tirana Tokyo Tripoli Tunis
Ulaanbaatar Vaduz Valletta Vatican City Victoria Vienna Vientiane Vilnius Warsaw Washington-D.C. Wellington
Windhoek Yamoussoukro Yaounde Yaren District Yerevan Zagreb] %>

<div class="container-form">
  <h2>CREATE A NEW EVENT</h2>
  <%= simple_form_for @event do |f| %>
    <%= f.input :title %>
    <%= f.input :location, collection: city_array , input_html: {data: {controller: 'tom-select'}}  %>
    <%= f.input :private, as: :radio_buttons, collection: [['Yes',true], ['No',false]], required: true %>
    <%= f.input :photos, as: :file , input_html: { multiple: true } %>
    <%= f.input :start_date, as: :string, input_html: {data: { controller: "flatpicker"}} %>
    <%= f.input :end_date, as: :string, input_html: {data: { controller: "flatpicker"}} %>
    <%= f.association :circles, collection: current_user.circles.each {|circle| circle.name}, input_html: { class: 'multiselectuser'} %>
    <%= f.submit %>
  <% end %>
</div>
