<div class="event-header" data-controller="attend" data-attend-url-value="<%= event_user_events_url(@event) %>">
  <div class="event-header-left">
    <h1><%= link_to "<i class='fa-solid fa-arrow-left'></i>".html_safe, root_path %></h1>
  </div>
  <div class="event-header-middle">
    <div class="event-header-middle-title">
      <h2><%= @event.title.upcase %></h2>
    </div>
    <div class="event-header-middle-info">
      <p>
        <i class="fa-solid fa-user-group"></i>
        <span data-attend-target="userCount"><%= @event.users.count %></span>
        <% if @event.private? %>
          <i class="fa-solid fa-lock"></i> Private
        <% else %>
          <i class="fa-solid fa-unlock"></i> Public
        <% end %>
      </p>
      <p><%= @event.start_date.strftime("%a, %b %d") %> - <%= @event.end_date.strftime("%a, %b %d") %></p>
    </div>
  </div>
  <div class="event-header-right">
    <div class="event-header-right-attending">
      <%= link_to "Attend Event", event_user_events_path(@event), data: { turbo_method: :post, action: "click->attend#clicky" }, class:"btn btn-success loool" %>
    </div>
  </div>
</div>
<div class="event-main-container">
  <div class="event-left-side-container">
    <div class="event-left-side-banner">
      <div class="event-show-carousel-container">
        <div class="event-show-carousel-slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% @event.photos.each_with_index do |photo, index| %>
              <% if index == 0 %>
                <div class="carousel-item active">
                  <%= cl_image_tag photo.key, class: "d-block w-100 event-photo"%>
                </div>
                  <% else %>
                <div class="carousel-item">
                  <%= cl_image_tag photo.key, class: "d-block w-100 event-photo"%>
                </div>
                  <% end %>
              <% end %>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhotosControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselPhotosControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="event-left-side-bottom">
      <div class="event-right-side-images">
        <h5>PICTURES</h5>
        <div class="event-right-side-images-info">
          <p>Share pictures:</p>
        </div>
      </div>
      <div class="event-left-side-chatroom">
        <div class="chatroom"
          data-controller="event-chatroom-subscription"
          data-event-chatroom-subscription-chatroom-id-value="<%= @event.id %>"
          data-event-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

          <h4><%= @event.title.upcase %> CHAT</h4>

          <div class="messages" data-event-chatroom-subscription-target="messages">
            <% @event.event_messages.each do |event_message| %>
              <div class="message-row d-flex <%= event_message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
                <div class="<%= event_message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                  <%= render "event_messages/event_message", event_message: event_message %>
                </div>
              </div>
            <% end %>
          </div>
          <%= simple_form_for [@event, @event_message],
              html: { data: { action: "turbo:submit-end->event-chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
            %>
              <%= f.input :content,
                label: false,
                placeholder: "Message ##{@event.title}",
                wrapper_html: {class: "flex-grow-1"}
              %>
              <%= f.submit "Send", class: "btn btn-primary" %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="event-left-side-anker">
      <div class="anker-member">
        <h5>ATTENDEES</h5>
        <div class="anker-member-info">
          <ul>
            <% @event.users.each do |user| %>
              <li><%= cl_image_tag user.photo.key %>
                  <p><%= user.first_name %> <%= user.last_name %></p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="anker-splitty">
        <div class="splitty">
          <h5>SPLITTY - EVENT COSTS</h5>
          <div class="splitty-body">
            <div class="splitty-people">
              <% @event.user_events.each do |user_event| %>
                <p><%= user_event.user.first_name %>: <%= user_event.balance %> <%= user_event.balance = 0 ? "Rand" : "Rand" %></p>
              <% end %>
            </div>
            <%= simple_form_for [@event, @payment] do |f| %>
              <%= f.input :amount %>
              <%= f.input :description %>
              <%= f.association :user_event, label: "Payer", collection: @event.user_events, label_method: :user_name %>
              <%= f.association :user_events, as: :check_boxes, collection: @event.user_events, label: "Who's splittin' this?", label_method: :user_name %>
              <%= f.submit "pop it on the splitty" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="event-right-side-container">
    <div class="event-right-side-host">
      <h5>HOSTED BY</h5>
      <div class="event-right-side-host-card">
        <%= link_to dashboard_path(@event.user_id) do %>
          <div class="event-right-side-host-body">
            <%= cl_image_tag User.find(@event.user_id).photo.key %>
            <div class="event-right-side-host-info">
              <h4><%= User.find(@event.user_id).first_name %> <%= User.find(@event.user_id).last_name %></h4>
              <p>Joined <%= User.all.first.created_at.strftime("%b %Y") %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="event-right-side-invite">
      <h4>Invite a Circle</h4>
      <div class="circle-grid">
        <% @circles.each do |circle|%>
          <%= link_to circle_path(circle) do %>
            <% if circle.photo.key? %>
              <%= cl_image_tag circle.photo.key, class: "circle-avatar", :style => "border-color: #{circle.border_color}", alt: "Circle Avatar" %>
            <% else %>
              <%= cl_image_tag "hk6soz418q50zk89hkppwut8mp97", class: "circle-avatar", alt: "circle-avatar" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= simple_form_for [@event, @circle_event] do |f| %>
        <div class="event-right-side-invite-body">
          <div class="event-right-side-invite-body-circles">
            <%= f.association :circle, as: :radio_buttons, required: false, collection: current_user.circles %>
          </div>
        </div>
        <%= f.button :submit, "Add Circle", class:"event-add-circle-button" %>
      <% end %>
    </div>
    <div class="event-right-side-details">
      <div class="event-right-side-details-header">
        <h5>DETAILS</h5>
      </div>
      <div class="event-right-side-details-body">
        <div class="event-right-side-details-date d-flex">
          <p><i class="fa-solid fa-calendar-days"></i></p>
          <p><strong>START:</strong> <%= @event.start_date.strftime("%A, %B %d, %Y") %> <br> <strong>END:</strong> <%= @event.end_date.strftime("%A, %B %d, %Y") %></p>
        </div>
        <div class="event-right-side-details-private d-flex">
          <% if @event.private? %>
            <p><i class="fa-solid fa-lock"></i></p>
            <p>Private Event</p>
          <% else %>
            <p><i class="fa-solid fa-unlock"></i></i></p>
            <p>Public Event</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="event-right-side-location">
      <h5><i class="fa-solid fa-location-dot"></i> LOCATION : <%= @event.location %></h5>
      <div class="event-right-side-location-body">
        <div class="event-right-side-location-body-address d-flex"></div>
      </div>
      <div class="event-right-side-map">
        <div class="event-show-details-info-location">
          <div class="event-show-details-info-location-map"
            data-controller="map"
            data-map-markers-value="<%= @marker.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
    <div class="event-right-side-music">
      <div class="spotify-playlists-header">
        <h5>EVENT PLAYLISTS</h5>
        <!-- Playlist Button trigger modal -->
        <button type="button" class="global-button" id="playlist-button", data-bs-toggle="modal" data-bs-target="#addPlaylist">
          <h5>+</h5>
        </button>
      </div>
      <div class="playlists-grid">
        <% @event.event_playlists.each do |playlist| %>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/<%=playlist.embed_url%>?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <% end %>
      </div>

        <!-- Modal -->
        <div class="modal fade" id="addPlaylist" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddPlaylistLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content modal-content-circle-show">
              <div class="modal-header">
                <i class="fa-brands fa-spotify"></i>
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a Playlist</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body modal-body-content">
                <%= simple_form_for [@event, @event_playlist] do |f| %>
                  <%= f.input :url, label: 'Enter the link to your playlist' %>
                  <%= f.submit "Add" %>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
