<div class="event-show-banner">
  <%= @event.start_date %>
  <%= @event.title %>
</div>
















<% if @event.title == 'lol' %>
  <div class="container">
    <div class="title"><h1><strong> <%= @event[0].title %></strong></h1></div>
      <div class="header">
          <div class="circle-grid">
          <% @event.each do |event|%>
              <% if event.photo.key? %>
                <%= cl_image_tag event.photo.key%>
              <% else %>
                <%= cl_image_tag "hk6soz418q50zk89hkppwut8mp97"%>
              <% end %>
          <% end %>
        </div>
          <div class="event_details">
            <p> <strong>When?</strong>  <%=@event[0].start_date %> - <%= @event[0].end_date %></p>
            <p><strong>Private?</strong>  <%= @event[0].private? %></p>
          </div>
          <div style="width: 20%; height: 200px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="body">
      <div class="circles">
        <p> These Circles attending the Event</p>
        <div class="circles">
          <% @circles.each do |circle|%>
            <%= link_to circle_path(circle) do %>
              <% if circle.photo.key? %>
                <%= cl_image_tag circle.photo.key, class: "circle-avatar", :style => "border-color: #{circle.border_color}", alt: "Circle Avatar" %>
              <% else %>
                <%= cl_image_tag "hk6soz418q50zk89hkppwut8mp97", class: "circle-avatar", alt: "circle-avatar" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="chat">
          <h1>chat functions comes here</h1>
        </div>
        <div class="media">
          <h1>We are putting Media in here: pictures playlists etc </h1>
        </div>

      </div>
    </div>

  </div>
<% end %>