<div class="event-show-banner">
  <div class="event-show-banner-info">
    <i class="fa-regular fa-calendar-days"></i>
    <%= @event.start_date.strftime("%A, %m %b, %Y") %>
    <h1><%= @event.title %></h1>
  </div>
</div>
<div class="event-show-top">
  <div class="event-show-details">
    <h3>Attending</h3>
      <div class="circles_event_page">
        <% @circles.each do |circle|%>
            <%= link_to circle_path(circle) do %>
              <% if circle.photo.key? %>
                <%= cl_image_tag circle.photo.key, class: "circle-avatar", :style => "border-color: #{circle.border_color}", alt: "Circle Avatar" %>
              <% else %>
                <%= cl_image_tag "hk6soz418q50zk89hkppwut8mp97", class: "circle-avatar", alt: "circle-avatar" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
    <div>
      <h3>Invite a Circle</h3>
      <%= simple_form_for [@event, @circle_event] do |f| %>
        <%= f.association :circle, as: :radio_buttons, label: "", required: false, collection: current_user.circles %>
        <%= f.submit "Add Circle" %>
      <% end %>
    </div>
    <div class="event-show-details-info">
      <h4>Details</h4>
      <p><%= @event.start_date.strftime("%a, %m %b") %> - <%= @event.end_date.strftime("%a, %m %b") %></p>
      <% if @event.private? %>
        <p><i class="fa-solid fa-circle"></i> Private Event</p>
      <% else %>
        <p><i class="fa-regular fa-circle"></i> Public Event</p>
      <% end %>
      <h4>Location</h4>
      <p><i class="fa-sharp fa-solid fa-location-dot"> </i>  <%= @event.location %></p>
      <div class="event-show-details-info-location">
        <div class="event-show-details-info-location-map"
          data-controller="map"
          data-map-markers-value="<%= @marker.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
  <div class="event-show-details-right-side">
    <div class="event-show-picture">
      <%= cl_image_tag @event.photo.key %>
    </div>
  </div>
</div>
