<div class="main-container">
  <div class="side-container">
    <div class="logo-container">
      <%= image_tag "Logo/Circles_Logo.svg", width:200, class:"white-color" %>
    </div>
    <div class="orbit-container">
      <% if user_signed_in? %>
        <div class="profile-container">
          <%= link_to profile_path(current_user) do %>
            <% if current_user.photo.key? %>
              <%= cl_image_tag current_user.photo.key, class: "circle-avatar"%>
            <% else %>
              <%= cl_image_tag "hk6soz418q50zk89hkppwut8mp97", class: "circle-avatar", alt: "circle-avatar" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="links-container">
        <%= link_to "Login", new_user_session_path, class: "hover-underline-animation" %>
        <%= link_to "New Circle", new_circle_path, class: "hover-underline-animation" %>
        <%= link_to "New Event", new_event_path, class: "hover-underline-animation" %>
        <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "hover-underline-animation" %>
      </div>
    </div>
    <div class="circles-container">
      <p>YOUR CIRCLES</p>
      <div class="circle-grid">
        <% @circles.each do |circle|%>
          <%= link_to circle_path(circle) do %>
            <% if circle.photo.key? %>
              <%= cl_image_tag circle.photo.key, class: "circle-avatar", :style => "border-color: #{circle.border_color}", alt: "Circle Avatar" %>
            <% else %>
              <%= cl_image_tag "hk6soz418q50zk89hkppwut8mp97", class: "circle-avatar", alt: "circle-avatar" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
    <div class="feed-container">
        <%= render "shared/home-card" %>
  </div>
</div>