<div class="main-container">
  <div class="side-container">
    <div class="logo-container">
      <%= image_tag "Logo/Circles_Logo.svg", width:150, class:"white-color" %>
    </div>
    <div class="orbit-container">
      <p>The user avatar will go here</p>
      <div>
        <%= link_to "Login", new_user_session_path, class: "hover-underline-animation" %>
      </div>
    </div>
    <div class="circles-container">
      <p>All the circles will go here</p>
      <% @circles.each do |circle|%>
        <% if circle.photo.key? %>
          <%= cl_image_tag circle.photo.key, class: "circle-avatar", alt: "circle-avatar" %>
        <% else %>
          <%= cl_image_tag "hk6soz418q50zk89hkppwut8mp97", class: "circle-avatar", alt: "circle-avatar" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="feed-container">
        <%= render "shared/home-card" %>
  </div>
</div>
