<div data-search-users-target="users_list">
  <div class="users">
    <% users.each do |user| %>
      <div class="circle-add-friend"
        data-controller="friend"
        data-friend-user-id-value="<%= user.id %>"
        data-friend-circle-id-value="<%= circle.id %>"
      >
        <div class="circle-img-add-friend">
          <%= cl_image_tag user.photo.key %>
        </div>
        <div class="circle-add-friend-info">
          <p><%= user.full_name %></p>
          <p><%= button_tag "Add", data: { action: "friend#submit", "friend-target" => "button" } %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
