<% if @circle.banner.key? %>
  <div class="circle-show-banner">
    <%= cl_image_tag @circle.banner.key %>
    <%= link_to "<i class='fa-solid fa-arrow-left'></i>".html_safe, root_path %>
  </div>
<% else %>
  <div class="circle-show-banner">
    <%= cl_image_tag "0x0_bfxmqe" %>
    <%= link_to "<i class='fa-solid fa-arrow-left'></i>".html_safe, root_path %>
  </div>
<% end %>
<div class="circle-show-title">
  <%= cl_image_tag @circle.photo.key, class: "circle-avatar-circle", :style => "border-color: #{@circle.border_color}", alt: "circle-avatar" %>
  <div class="circle-show-details">
    <h2><%= @circle.name.upcase %></h2>
    <p><%= @circle.created_at.strftime("STARTED %b %Y") %></p>
    <div class="circle-show-details-private">
      <p><i class="fa-solid fa-user-group"></i><%= @circle.users.count %> MEMBERS</p>
      <% if @circle.private == true %>
        <p><i class="fa-solid fa-circle"></i>PRIVATE</p>
      <% else %>
        <p><i class="fa-regular fa-circle"></i>OPEN</p>
      <% end %>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <i class="fa-solid fa-plus"></i>
      <i class="fa-solid fa-user-group"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-content-circle-show">
          <div class="modal-header">
            <i class="fa-regular fa-address-book"></i>
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add friends</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body modal-body-content">
            <div data-controller="search-users">
                <%= form_with url: circle_users_path(@circle), method: :get, html: {class: "mb-4", data: {search_users_target: "form"}} do |f| %>
                  <%= f.text_field :query,
                                   class: "form-control",
                                   placeholder: "Type a user name",
                                   value: params[:query],
                                   data: {
                                    search_users_target: "input",
                                    action: "keyup->search-users#update"
                                   }
                                   %>
                <% end %>
                <%= render "users_list", users: @not_in_group_users, circle: @circle %>
            </div>
          </div>
          <div class="modal-footer">
            <%= link_to "Done!", circle_path(@circle) %>
          </div>
        </div>
      </div>
    </div>
    <div class="btn btn-primary">
      <%= link_to "Create Event", new_event_path  %>
    </div>
  </div>
</div>

<div class="circle-show-main-container">

  <div class="circle-show-main-top">

    <div class="circle-show-members">
      <h4>MEMBERS</h4>
      <div class="circle-show-members-info">
        <% @circle.users.each do |user| %>
          <ul style="list-style: none">
            <li style="font-size: 12px"><%= cl_image_tag user.photo.key %> <%= user.first_name.upcase %> <%= user.last_name.upcase %></li>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="circle-show-upcoming-events">
      <h4>UPCOMING EVENTS</h4>
      <div class="circle-show-upcoming-events-cards">
        <% if @circle.events.length != 0 %>
          <% @circle.events.each do |event| %>
            <% if event.start_date.future? %>
              <ul style="list-style: none">
                <% if event.photos.attached? %>
                  <div class="circle-show-event-card">
                    <%= link_to event_path(event) do %>
                      <li><%= event.title %><%= cl_image_tag event.photos.first.key %><p><%= event.start_date.strftime("%a, %b %d") %></p></li>
                    <% end %>
                  </div>
                <% else %>
                  <li><%= event.title %></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        <% else %>
          <p>You have no upcoming events...</p>
        <% end %>
      </div>
    </div>

    <div class="circle-show-spotify-playlists">
      <div class="spotify-playlists-header">
        <h4>CIRCLE PLAYLISTS</h4>
      </div>
      <div class="playlists-grid">
        <% @circle.circle_playlists.each do |playlist| %>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/<%=playlist.embed_url%>?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <% end %>
      </div>
      <div class="spotify-playlists-footer">
        <!-- Playlist Button trigger modal -->
        <button type="button" class="global-button" id="playlist-button", data-bs-toggle="modal" data-bs-target="#addPlaylist">
          <p>Add a Playlist</p>
        </button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="addPlaylist" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddPlaylistLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content modal-content-circle-show">
            <div class="modal-header">
              <i class="fa-brands fa-spotify"></i>
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a Playlist</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body-content">
              <%= simple_form_for [@circle, @circle_playlist] do |f| %>
                <%= f.input :url, label: 'Enter the link to your playlist' %>
                <%= f.submit "Add" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="circle-show-main-bottom">
    <div class="memories">
    <h4>MEMORIES</h4>
    <section class="splide" aria-label="Splide Basic HTML Example" data-controller="slider">
      <div class="splide__track">
        <ul class="splide__list">
          <% @circle.events.each do |event| %>
            <li class="splide__slide"><%= cl_image_tag event.photos[0].key %></li>
          <% end %>
        </ul>
      </div>
    </section>
    </div>
</div>
<div class="chatroom"
  data-controller="circle-chatroom-subscription"
  data-circle-chatroom-subscription-chatroom-id-value="<%= @circle.id %>"
  data-circle-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
>
  <h1>#<%= @circle.name %></h1>

  <div class="messages" data-circle-chatroom-subscription-target="messages">
    <% @circle.circle_messages.each do |circle_message| %>
      <div class="message-row d-flex <%= circle_message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= circle_message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "circle_messages/circle_message", circle_message: circle_message %>
        </div>
      </div>
    <% end %>
  </div>
  <%= simple_form_for [@circle, @circle_message],
    html: { data: { action: "turbo:submit-end->circle-chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@circle.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
</div>
