<% if @circle.banner.key? %>
  <div class="circle-show-banner">
    <%= cl_image_tag @circle.banner.key %> 
  </div>
<% else %>
  <div class="circle-show-banner">
    <%= cl_image_tag "0x0_bfxmqe" %>
  </div>
<% end %>
<div class="circle-show-title">
  <%= cl_image_tag @circle.photo.key, class: "circle-avatar-circle", :style => "border-color: #{@circle.border_color}", alt: "circle-avatar" %>
  <div class="circle-show-details">
    <h2><%= @circle.name.upcase %></h2>
    <p><%= @circle.created_at.strftime("STARTED %b %Y") %></p>
    <div class="circle-show-details-private">
      <p><i class="fa-solid fa-user-group"></i><%= @circle.users.count %> MEMBERS</p>
      <% if @circle.private == true %>
        <p><i class="fa-solid fa-circle"></i>PRIVATE</p>
      <% else %>
        <p><i class="fa-regular fa-circle"></i>OPEN</p>
      <% end %>
    </div>
  </div>
</div>

<div class="circle-show-top">
  <%= link_to "<i class='fa-solid fa-arrow-left'></i>".html_safe, root_path %>
  <div class="circle-show-members">
    <h4>Members</h4>
    <% @circle.users.each do |user| %>
      <ul style="list-style: none">
        <li style="font-size: 12px"><%= cl_image_tag user.photo.key %> <%= user.first_name.upcase %> <%= user.last_name.upcase %></li>
      </ul>
    <% end %>
  </div>
  <div class="circle-show-upcoming-events">
    <h2>Upcoming Events:</h2>
    <div class="circle-show-upcoming-events-cards">
      <% if @circle.events.length != 0 %>
        <% @circle.events.each do |event| %>
          <% if event.start_date.future? %>
            <ul style="list-style: none">
              <% if event.photo.attached? %>
                <div class="circle-show-event-card">
                  <li><%= event.title %><%= cl_image_tag event.photo.key %><p><%= event.start_date.strftime("%a, %b %d") %></p></li> 
                </div>
              <% else %>
                <li><%= event.title %></li> 
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% else %>
        <p>You have no upcoming events...</p>
      <% end %>
    </div>
  </div>
</div>
<div class="circle-show-middle">
<h2>MEMORIES</h2>
  <% if @circle.events.length != 0 %>
    <% @circle.events.each do |event| %>
      <% unless event.start_date.future? %>
        <ul>
          <li><%= event.title %></li>
        </ul>
      <% end %>
    <% end %>
  <% else %>
    <p>No previous events...</p>
  <% end %>
</div>
<div class="btn btn-primary">
  <%= link_to "Create new Event", new_event_path  %>
</div>
